<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjhy.mapper.LegalPersonMapper" >

    <sql id="sql_list">
        id, company_id, l_name, l_idcard, l_allocation, l_type, l_job
    </sql>

    <select id="getLegalPersonByCompanyId" parameterType="java.lang.Integer" resultType="com.yjhy.entity.LegalPerson">
        SELECT
        <include refid="sql_list" />
        FROM legal_person
        WHERE legal_person.`company_id`  = #{companyId}
    </select>

    <insert id="addLegalPersons" parameterType="java.util.List">
        insert into legal_person (company_id, l_name, l_idcard, l_allocation, l_type, l_job)
        values
        <foreach collection="legalPersonList" item="i" separator=",">
            ( #{i.companyId}, #{i.lName},#{i.lIdcard}, #{i.lAllocation}, #{i.lType}, #{i.lJob} )
        </foreach>
    </insert>
    
</mapper>